/[Ll]ibrary/
/[Uu]serSettings/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

.idea/

.vs/
.gradle/

*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

sysinfo.txt
*.apk
*.unitypackage

crashlytics-build.properties

Thumbs.db
Thumbs.db.meta
*.DS_Store
*.vscode

# Ignore native part
/Assets/LunarConsole/Editor/iOS
/Assets/LunarConsole/Editor/iOS.meta

/Assets/LunarConsole/Editor/Android
/Assets/LunarConsole/Editor/Android.meta

# Ignore generated plugin
/Assets/Plugins
/Assets/Plugins.meta